<ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid > 
      <ion-row class="ion-justify-content-center ">
        <ion-text color="danger">
          <h3>Welcome to MINOS APP<ion-icon name="hand"></ion-icon></h3><br><br><br>
        </ion-text>
      </ion-row> 
    </ion-grid>
    
    <ion-list>
        <div *ngIf="name">
          <ion-item>
            <ion-label><h2><b>Username:</b> {{ GetUsername }}</h2></ion-label>
          </ion-item>
        </div>
        <div *ngIf="mail">
          <ion-item>
            <ion-label><h2><b>Email:</b> {{ GetEmail }}</h2></ion-label>
          </ion-item>
        </div>
  
    </ion-list>
  
    <ion-tabs >
    <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Logout</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-content>