<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content padding>
        <ion-list>
            <ion-item text-center>
              <ion-label><h2>2FA step</h2></ion-label>
            </ion-item>
      
          <ion-item>
            <ion-label position="floating">Enter code here</ion-label>
            <ion-input type="text" name="token" [(ngModel)]="token"></ion-input>
          </ion-item>
      
        </ion-list>
      
        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button fill="solid" expand="block" color="dark" (click)="generate()">Resend code</ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" expand="block" color="dark" (click)="verify()">Verify</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button fill="solid" expand="block" color="dark" (click)="cancel()">Cancel</ion-button>
              </ion-col>
            </ion-row>
        </ion-grid>
      
    </ion-content>
  </ion-app>