<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-center>
      <ion-label><h2>Sign up</h2></ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="model.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="model.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="model.password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button fill="solid" expand="block" color="dark" (click)="register()">Sign Up</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="solid" expand="block" color="dark" fill="outline" (click)="cancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>